services:
  mysql:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: VISIT_REGISTRY_DB
      MYSQL_USER: pythonUser
      MYSQL_PASSWORD: python1234
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "exit", "0"]
    networks:
      - office-network

  backend:
    build: ./backend
    restart: always
    working_dir: /app
    volumes:
      - ./backend:/app
    ports:
      - "5000:5000"
    environment:
      DB_HOST: mysql
      DB_USER: pythonUser
      DB_PASSWORD: python1234
      DB_NAME: VISIT_REGISTRY_DB
      PORT: 5000
    depends_on:
      mysql:
        condition: service_started
    networks:
      - office-network

  frontend:
    image: nginx:alpine
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html:ro
    networks:
      - office-network

volumes:
  mysql_data:

networks:
  office-network:
    driver: bridge
